doctype html
html
  head
    title=title
    
    link(rel='stylesheet', href='/javascripts/libs/bootstrap-4.0.0-alpha.2/dist/css/bootstrap.min.css')    
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    script(src='/javascripts/libs/jquery/2.1.4/jquery.min.js')    
    script(src='/javascripts/libs/bootstrap-4.0.0-alpha.2/docs/assets/js/vendor/tether.min.js')
    script(src='/javascripts/libs/bootstrap-4.0.0-alpha.2/dist/js/bootstrap.min.js')
    script(src='/javascripts/libs/reactjs/react.min.js')
    
    
  body
    .container-fluid
        block content
    